name: Run Automated Tests
on: [push, pull_request]

jobs:
  test:
  - name: Run pytest (generate.junit.xml)
    run: pytest -v scripts/ --junitxml=pytest-report.xml

  - name: Upload test report artifact
    uses: actions/upload-artifact@v4
    with:
      name: pytest-report_${{ matrix.os }}
      path: pytest-report.xml

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Run pytest
        run: pytest -v scripts/